


.App {
 text-align : center; 
 display: grid;  
 position: relative;
height: 100vh;
z-index: 7;
  
  color: white;
  font-size: clamp(1.5rem,4.5vh,5rem);

  

}


.App::before{content: '';
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1.75), rgba(0, 0, 0, 0.25));
  

}

.button-group{
display: flex;
flex-direction: column;
 
 
}
.button{
  font-size: 1em;
  height:2.2rem ;
 
  min-width: 15rem;
  padding: 0 1rem;
  padding-top: 0.2rem;
  
  background-color: rgb(18, 20, 34);
  color: aliceblue;
  margin:1.2rem auto ;
  
  
  
  border-radius: 10px;  
  box-shadow: 10px 5px 5px rgb(190, 190, 190);
  border: 3px solid rgb(139, 139, 139);
}
.button:hover{
  background-color: rgb(170, 170, 172);
  color: black;
}
.button:active{
  border: none;
  box-shadow: 1px 5px 5px rgb(190, 190, 190);
}


#text{padding-top: 3rem;
z-index: 7;

  font-style: italic;
}



